body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  max-width: 800px;
}

.navbar .links {
    margin-left: auto;
   
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  color: chartreuse;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;

}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafcfa;
}
.blog-preview :hover{
  box-shadow: 1px 3px 5px gray;
}

.blog-preview h2 {
  font-size: 20px;
  color: cornflowerblue;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

.blogDetails h2{
  font-size: 20px;
  color: #f13568;
  margin-bottom: 10px;
}

.blogDetails div {
  margin: 20px 0;
}

.blogDetails button{
  background: #f13568;
  color: #fff;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label{
  text-align: left;
  display: block;
}

.create h2{
  font-size: 20px;
  color: #f13568;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button{
  background-color: #f13568;
  color: #ddd;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  border: 0;
  cursor: pointer;
  display: flex;

}
.btn{
  background-color: #f13568;
  color: #ddd;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  border: 0;
  cursor: pointer;
  

}




